body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wake {
    width: 80vw;
    height: 80vh;
    border-radius: 4em;
    border: 0.5em solid black;
    font-size: 8em;
}